@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --background-color: hsl(212, 45%, 89%);
    --wrapper-color: hsl(0, 0%, 100%);
    --title-color: hsl(218, 44%, 22%);
    --text-color: hsl(220, 15%, 55%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit";
}